fastapi
uvicorn
python-dotenv
python-jose
bcrypt==4.0.1
python-multipart

pydantic
pydantic-settings

groq
openai

langchain
langchain-core
langchain-community
langgraph

pinecone

numpy

requests
httpx
beautifulsoup4
lxml

pymupdf
pypdf

sqlalchemy

tqdm
tenacity

orjson

watchfiles
websockets

google-genai